name: Rain Alert Daily

on:
  schedule:
    - cron: '30 4 * * *'   # 10:00 AM IST
  workflow_dispatch:       # allows manual run

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests twilio

      - name: Run rain alert script
        env:
          API_KEY: ${{ secrets.API_KEY }}
          TWILIO_SID: ${{ secrets.TWILIO_SID }}
          TWILIO_AUTH: ${{ secrets.TWILIO_AUTH }}
        run: |
          python main.py
